<div class="register-container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
      Register
    </button>
  </form>
</div>
