.mat-toolbar {
  background-color: #333; // Couleur de fond sombre
  color: #fff; // Couleur du texte claire
  padding: 0 16px; // Marge intérieure horizontale

  a {
    color: #fff; // Couleur des liens
    text-decoration: none; // Supprimer le soulignement
    margin: 0 10px; // Espacement entre les liens
    font-weight: 500; // Police semi-grasse
    transition: color 0.3s ease; // Transition de couleur au survol

    &:hover {
      color: #007bff; // Couleur au survol
    }

    &#logo {
      font-weight: bold; // Logo en gras
      font-size: 1.2em; // Taille du logo
    }
  }

  .spacer {
    flex: 1 1 auto; // Pousse les éléments à droite
  }
}
