h1 {
  font-family: 'Montserrat', sans-serif; /* Police sans empattements moderne */
  font-size: 15rem; /* Taille de la police */
  font-weight: 600; /* Semi-gras */
  line-height: 1.3; /* Hauteur de ligne */
  color: #00549e; /* Couleur (bleu) */
  text-transform: uppercase; /* Texte en majuscules */
  letter-spacing: 2px; /* Espacement des lettres */
  text-align: left; /* Centrer le texte */
}

button{
  font-size: 25px; /* Increase font size */
  padding: 24px 50px; /* Increase padding */
  border-radius : 25px; /* Rounded corners */
}
